body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #28a745;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ccc 1px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e9ff70;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
}

h2 {
    color: #28a745;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="password"], button {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background 0.3s;
    width: 100%;
}

button:hover {
    background: #218838;
}
